* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #fff;
}

.header_icons {
  display: flex;
  gap: 14px;
}

.header_icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #d34040;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header_button {
  border: 1px solid #fff;
  padding: 8px 24px;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header_button:hover {
  border: 1px solid #d34040;
  background-color: #d34040;
}

.header_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

@media screen and (max-width: 768px) {
  .header_content {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .header_content i {
    margin-top: 18px;
    font-size: 34px;
  }
  .header_logo img {
    width: 160px;
    margin-top: 46px;
  }
  .header_button {
    display: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

.bg_home {
  position: relative;
}

.bg_home:before {
  content: "";
  position: absolute;
  display: block;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../assets/img/bg.svg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.hero {
  color: #fff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 46px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}

.button_contact {
  padding: 14px 28px;
  color: #fff;
  background-color: #d94140;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
}

.button_contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
}
.about {
  background-color: #06121e;
  overflow: hidden;
  color: #fff;
}

.about_content {
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
  display: flex;
}
.about_content img {
  max-width: 570px;
}

.about_content div {
  flex: 1;
}

.about_description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about_description p {
  margin-bottom: 14px;
  font-size: 150%;
}

@media screen and (max-width: 768px) {
  .about_content {
    flex-direction: column;
  }
}
body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #06121e;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */